.EditRecipe {
  height: 100vh;
 display: block;
 background-image: url("http://www.jameswong.co.uk/communities/3/004/008/584/263//images/4618073978.jpg");
  background-position: center center ; 
  background-size: cover;
   background-attachment: fixed;
   align-content: center;
} 