.NewRecipe{
  height: 100vh;
  display: block;
  background-image: url("https://t3.ftcdn.net/jpg/00/98/18/58/240_F_98185854_4BBuZ0HLrWM6x4QDBhzC0OuPvGZgCQx6.jpg");
  background-position: center center ; 
  background-size: cover;
   background-attachment: fixed;
   align-content: center;
}
.form-control {
  margin: 0 auto;
  width: 30%;
  height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color:lightblue;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
  font-weight: bolder;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: .5rem;
}