.NewRecipe{
  height: 100vh;
  display: block;
  background-image: url("https://cdn.hipwallpaper.com/i/65/53/NgJe5y.png");
  background-position: center center ; 
  background-size: cover;
   background-attachment: fixed;
   align-content: center;
   position: relative;
   transition: all 0.3s;
   overflow: scroll;
   flex: 1 4 auto;
}
.form-control {
  margin: 0 auto;
  width: 30%;
  height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color:lightblue;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Acme', sans-serif;
}

label {
  font-family: Aldrich;
  font-size: 2rem;
  display: inline-block;
  margin-bottom: .5rem;
  
}

h2{
  
  font-family: Aldrich;
  color:black;
 
}

.btn-primary {
  margin-bottom: 2rem;
  border: solid;
  border-radius: 25px;
  color: #fff;
  background-color: olivedrab;
  border-color: olivedrab;
}