.home{
  background-image: url("https://i.pinimg.com/236x/9b/b1/14/9bb1144f537027d3149ac3776bb3d0bd--kids-online-ethiopia.jpg");
  background-position: center center ; 
  background-size: cover;
   background-attachment: fixed;
}
 
p {
  border: black;
  border: double;
  border: solid;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align-last: left;
  text-align: initial;
  font-style: oblique;
}

.card-img-top {
  width: 30%;
}

.d-flex {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  min-width: 600px;
  flex-grow: 0;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  display: flex!important;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color:bisque;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.row {
display: inline;
}
