.Home {
  display: block;
  
}

.body{
  background-image: url("https://www.mazola.com/img/page-background.png");
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;

} 