.MyRecipes{
  background-image: url("https://cdn.vox-cdn.com/thumbor/0DevO4kMhQWcwn-TJF79-SSAk40=/0x0:960x845/1200x900/filters:focal(404x346:556x498)/cdn.vox-cdn.com/uploads/chorus_image/image/60847071/Das_DC_sampler.0.0.0.0.jpg");
  background-position: center center ; 
 background-size: cover;
  background-attachment: fixed;
}