

.Auth{
  background-image: url("http://farm5.staticflickr.com/4129/5171238999_b694fcf475_z.jpg");
  background-position: center center ; 
  background-size: cover;
  background-attachment: fixed;
  align-content: center;
  text-align: center;
  display: block;
}

