.Auth{
  
  
  background-image: url("http://a4.pbase.com/o6/93/329493/1/109175523.aormqQIl.EthiopiaJan092539.jpg");
    background-position: center center ; 
    background-size: cover;
     background-attachment: fixed;
}

